.input {
  padding-bottom: 12px;
}
.input .label {
  display: block;
  font-size: large;
  font-weight: 600;
  padding: 10px 0 10px 5px;
  color: var(--secondary-text-color);
}
.input .inputTag {
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: medium;
  border-radius: 10px;
  padding: 2% 0 2% 4%;
  color: var(--primary-text-color);
  border: 2px solid var(--input-border-color);
  background-color: var(--input-bg--color);
}
.input .inputTag:focus {
  outline: none;
  box-shadow: 0 0 3px 2px var(--primary-bg-color);
}
.input .inputTag::placeholder {
  color: var(--secondary-text-color);
}
.input #inputSelect {
  padding: 0 4%;
  height: 47.475px;
  appearance: none;
}
.input #inputSelect:hover {
  cursor: pointer;
}
.input .select-image-btn {
  width: 100%;
  height: 44px;
  display: flex;
  overflow: hidden;
  font-weight: 700;
  font-size: medium;
  border-radius: 10px;
  padding: 2% 0 2% 4%;
  color: var(--primary-text-colspaor);
  border: 2px solid var(--input-border-color);
  background-color: var(--input-bg--color);
}
.input .select-image-btn:hover {
  cursor: pointer;
}
.input .select-image-btn .select-image {
  width: 36px;
  height: 36px;
  margin-top: -10px;
  border-radius: 50px;
}
.input .password {
  display: flex;
}
.input .showPassword {
  width: 10%;
  border: 0px;
  display: flex;
  font-size: 25px;
  margin-left: -11%;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
  background-color: transparent;
  color: var(--primary-text-color);
}
.input input:-webkit-autofill,
.input input:-webkit-autofill:focus,
.input input:-webkit-autofill:hover,
.input input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--input-bg--color) inset !important;
  -webkit-text-fill-color: var(--input-border-color-color) !important;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: center;
}
.logo .logo-icon {
  width: 4rem;
  height: 4rem;
  color: var(--accent-color);
}
.logo .logo-text {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
  line-height: 2.25rem;
  color: var(--primary-text-color);
}

.navbar {
  top: 0;
  z-index: 5;
  padding: 1rem;
  border-radius: 0.625rem;
  position: relative;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.navbar .container {
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-logo {
  z-index: 5;
  margin-bottom: 0;
}
.navbar .nav-bar {
  width: 3rem;
  height: 3rem;
  display: none;
  font-size: 1.3rem;
  align-items: center;
  border-radius: 3.125rem;
  justify-content: center;
  background-color: transparent;
  border: 0.125rem solid var(--primary-bg-color);
  padding: 0;
  cursor: pointer;
}
.navbar .nav-bar:hover {
  color: var(--accent-color);
}
.navbar .navbar-links {
  gap: 1.5rem;
  display: flex;
  font-size: 1.3rem;
}
.navbar .navbar-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.2s;
  color: var(--primary-text-color);
}
.navbar .navbar-links a.is-active {
  font-weight: bold;
  color: var(--accent-color);
}
.navbar .navbar-links a:hover {
  color: var(--accent-color);
}
.navbar .btn-holder {
  z-index: 0;
  gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-btn {
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  cursor: pointer;
  font-size: 1.3rem;
  align-items: center;
  border-radius: 3.125rem;
  justify-content: center;
  background-color: transparent;
  border: 0.125rem solid var(--primary-bg-color);
}
.theme-btn:hover {
  color: var(--accent-color);
}

.header {
  top: 0;
  padding: 1rem;
  display: flex;
  margin-top: 1rem;
  border-radius: 0.625rem;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.header:hover {
  cursor: pointer;
}
.header .header-img .image {
  width: 27.5rem;
  height: 35.5rem;
  border-radius: 0.625rem;
}
.header .header-title {
  display: flex;
  padding-left: 2rem;
  flex-direction: column;
  justify-content: center;
}
.header .header-title h1 {
  font-size: 4rem;
}
.header .header-title p {
  font-size: 2rem;
  font-weight: bold;
}

.swiper {
  top: 0;
  margin-top: 1rem;
}
.swiper .swiper-link {
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.85rem;
  border-radius: 0.625rem;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  box-shadow: 0 4px 6px -1px var(--box-shadow-color);
}
.swiper .swiper-link .swiper-image {
  width: 75%;
  height: 85%;
  border-radius: 0.625rem;
}
.swiper .swiper-link .swiper-title {
  padding-top: 1rem;
}
.swiper .swiper-link .swiper-title h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.swiper .swiper-link:hover {
  cursor: pointer;
}

.swiper-pagination {
  position: relative !important;
  width: 10%;
  margin-top: 15px;
}

.swiper-pagination-progressbar {
  width: 50% !important;
  margin: 0 auto !important;
  height: 5px;
  position: relative !important;
  margin-top: 15px !important;
  border-radius: 1rem !important;
}

.swiper-pagination-progressbar-fill {
  background: var(--accent-color) !important;
  border-radius: 1rem !important;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .input {
    padding: 0.9375rem 0rem;
  }
  .input .label {
    font-size: 1.5rem;
  }
  .input .inputTag {
    height: 3.375rem;
    font-size: 1.1875rem;
  }
  .input .showPassword {
    font-size: 2rem;
    margin-left: -12%;
  }
  .input .header {
    flex-direction: column;
  }
  .input .header .header-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .input .header .header-title {
    padding-left: 0;
    text-align: center;
    margin-top: 1rem;
  }
  .input .header .header-title h1 {
    font-size: 2.5rem;
  }
  .input .header .header-title p {
    font-size: 1.5rem;
  }
  .logo .logo-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .logo .logo-text {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .navbar .container {
    padding: 0;
  }
  .navbar .nav-logo .logo-text {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  .navbar .navbar-links {
    gap: 0.75rem;
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .input {
    padding: 0.9375rem 0rem;
  }
  .input .label {
    font-size: 1.5rem;
  }
  .input .inputTag {
    height: 3.5625rem;
    font-size: 1.25rem;
  }
  .input .showPassword {
    font-size: 1.875rem;
    margin-left: -12%;
  }
  .logo .logo-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .logo .logo-text {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .navbar .nav-bar {
    display: flex;
  }
  .navbar .navbar-links {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.625rem;
    right: 0;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 8px 16px var(--box-shadow-color);
    flex-direction: column;
    align-items: center;
    padding: 6.5rem 0rem 0rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }
  .navbar .navbar-links.is-active {
    max-height: 500px;
  }
  .header {
    flex-direction: column;
  }
  .header .header-img {
    width: 100%;
  }
  .header .header-img .image {
    width: 25rem;
    height: 30rem;
  }
  .header .header-img {
    display: flex;
    justify-content: center;
  }
  .header .header-title {
    padding-left: 0;
    text-align: center;
    margin-top: 1rem;
  }
  .header .header-title h1 {
    font-size: 2rem;
  }
  .header .header-title p {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .input {
    padding: 0.9375rem 0rem;
  }
  .input .label {
    font-size: 1.5rem;
  }
  .input .inputTag {
    height: 3.5625rem;
    font-size: 1.25rem;
  }
  .input .showPassword {
    font-size: 1.875rem;
    margin-left: -15%;
  }
  .logo .logo-icon {
    width: 3.3rem;
    height: 3.3rem;
  }
  .logo .logo-text {
    margin: 0;
    font-size: 1.75rem;
  }
}
@media (max-width: 320px) {
  .input {
    padding: 0.9375rem 0rem;
  }
  .input .label {
    font-size: 1.5rem;
  }
  .input .inputTag {
    height: 3.5625rem;
    font-size: 1rem;
  }
  .input .showPassword {
    font-size: 2rem;
    margin-left: -15%;
  }
  .logo .logo-icon {
    width: 2.8rem;
    height: 2.8rem;
  }
  .logo .logo-text {
    margin: 0;
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=component.css.map */
