.registerPage {
  display: flex;
  padding: 1rem;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.registerCont {
  width: 100%;
  padding: 2rem;
  max-width: 30rem;
  border-radius: 0.75rem;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 0 20px 0.5px var(--box-shadow-color);

  .registerText {
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  .registerBtn {
    border: 0;
    width: 100%;
    height: 45px;
    display: flex;
    height: 2.5rem;
    font-size: large;
    font-weight: bold;
    align-items: center;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    justify-content: center;
    transition: ease-in-out 300ms;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    &:hover {
      cursor: pointer;
      background-color: #f38e47;
    }
  }

  .registerError {
    width: 100%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    color: var(--error-msg-color);
    margin: 1rem 0;
  }

  .sign-inText {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 1rem;

    .sign-inLink {
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--accent-color);
      //   margin: 1rem 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .registerCont {
    padding: 1.5rem;
    max-width: 100%;

    .registerText {
      font-size: 2rem;
    }

    .registerBtn {
      height: 3rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .registerCont {
    padding: 1rem;

    .registerText {
      font-size: 1.8rem;
    }
  }
}
