.home {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 0.625rem;
  min-height: 100vh;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
}
