// Light Mode Color Palette
$Light_Primary-Background: #f5f9ff; // Very light gray
// $Light_Primary-Background: #f3f4f6; // Very light gray
$Light_Secondary-Background: #ffffff; // Pure white
$Light_Primary-Text: #111827; // Very dark gray
$Light_Secondary-Text: #4b5563; // Dark gray
$Light_Input-Backround: #e5e7eb; // Very light gray
$Light_Input-Border: #d1d5db; // Light gray

// Dark Mode Color Palette
$Dark_Primary-Background: #111827; // Very dark gray
$Dark_Secondary-Background: #1f2937; // Lighter dark gray
$Dark_Primary-Text: #f9fafb; // Light off-white
$Dark_Secondary-Text: #9ca3af; // Medium gray6b72
$Dark_Input-Backround: #4b5563; // Dark gray
$Dark_Input-Border: #6b7280; // Dark gray

// System
$Accent-Color: #f97316; // Vibrant orange
$Accent-Hover-Color: #d97706; // Dark vibrant orange
$Box-Shadow-Color: rgba(0, 0, 0, 0.1);
$Succes-Message-Color: #22c55e; // Green
$Error-Message-Color: #ef4444; // Red

//new colors
$color-bg: #110f21;
$color-primary: #e6234b; // Dramatic Red
$color-secondary: #00ffc8; // Neon Green/Cyan for contrast
$color-text: #f0f0f0;
$color-border: #3a3053;
$shadow-neon: 0 0 15px rgba($color-primary, 0.8),
  0 0 5px rgba($color-primary, 0.5);
$accent-shadow-color: rgba($Accent-Color, 0.5);
$accent-hover-shadow-color: rgba($Accent-Hover-Color, 0.8);
$secondary-accent-shadow-color: rgba($color-secondary, 0.4);
