@use "./colors" as *;

:root {
  // Light mode colors are the default
  --primary-bg-color: #{$Light_Primary-Background};
  --secondary-bg-color: #{$Light_Secondary-Background};
  --primary-text-color: #{$Light_Primary-Text};
  --secondary-text-color: #{$Light_Secondary-Text};
  --input-bg-color: #{$Light_Input-Backround};
  --input-border-color: #{$Light_Input-Border};
  --accent-color: #{$Accent-Color};
  --box-shadow-color: #{$Box-Shadow-Color};
  --accent-hover-color: #{$Accent-Hover-Color};
  --success-msg-color: #{$Succes-Message-Color};
  --error-msg-color: #{$Error-Message-Color};

  //new colors
  --color-bg: #{$color-bg};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-text: #{$color-text};
  --color-border: #{$color-border};
  --shadow-neon: #{$shadow-neon};
  --accent-shadow-color: #{$accent-shadow-color};
  --accent-hover-shadow-color: #{$accent-hover-shadow-color};
  --secondary-accent-shadow-color: #{$secondary-accent-shadow-color};
}

.dark-mode {
  // Override with dark mode colors
  --primary-bg-color: #{$Dark_Primary-Background};
  --secondary-bg-color: #{$Dark_Secondary-Background};
  --primary-text-color: #{$Dark_Primary-Text};
  --secondary-text-color: #{$Dark_Secondary-Text};
  --input-bg-color: #{$Dark_Input-Backround};
  --input-border-color: #{$Dark_Input-Border};
  --accent-color: #{$Accent-Color};
  --box-shadow-color: #{$Box-Shadow-Color};
  --accent-hover-color: #{$Accent-Hover-Color};
  --success-msg-color: #{$Succes-Message-Color};
  --error-msg-color: #{$Error-Message-Color};

  //new colors
  --color-bg: #{$color-bg};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-text: #{$color-text};
  --color-border: #{$color-border};
  --shadow-neon: #{$shadow-neon};
  --accent-shadow-color: #{$accent-shadow-color};
  --accent-hover-shadow-color: #{$accent-hover-shadow-color};
  --secondary-accent-shadow-color: #{$secondary-accent-shadow-color};
}
